
.navLink{
    font-weight: bold;
    color:#259BAB;
  }
  .navLink:hover{
    border-bottom:  #9ED5C5 solid 5px;
    color: #9ED5C5;
  }
  .navLink:active{
    border-bottom:  #FFFAD7 solid 5px;
    color: #FFFAD7;
  }
  
  
  
  .logoText{
    color: #259BAB;
    font-size: x-large;
    font-weight: white;
  }
  