.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navLink{
  font-weight: bold;
  color:#259BAB;
}
.navLink:hover{
  border-bottom:  #9ED5C5 solid 5px;
  color: #9ED5C5;
}
.navLink:active{
  border-bottom:  #FFFAD7 solid 5px;
  color: #FFFAD7;
}



.logoText{
  color: #259BAB;
  font-size: x-large;
  font-weight: white;
}

.App-link {
  color: #61dafb;
}
.innerHeader{
background-color: white;
width: 500;
color: #259BAB;
height: 900;
}
.headerPara{
  color:#259BAB ;
}
.header{
  background-color: #DEF5E5;
  width: "100%";
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.headerText{
  font-weight: bold;
  position: relative;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
